extends layout/main-layouts.pug

block navbar
    li.nav-item.mr-5
        a.nav-link.active(aria-current='page' href='/') list peminjam
    li.nav-item
        a.nav-link(href='/admin/data-pinjaman') input data
    li.nav-item
        a.nav-link(href='/admin/data-pengembalianBuku') Pengembalian Buku

block content
    h1.error Page Not Found 404

    