html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style */

.navbar-expand-lg {
  background-color: #f5d3a0;
}

nav {
  text-transform: uppercase;
  font-size: large;
  font-weight: bolder;
  font-style: italic;
}

h1 {
  color: rgb(155, 35, 71);
  margin: 10px 20px;
  text-transform: uppercase;
  text-align: center;
}

.formTitle {
  text-align: center;
}

h1.error {
  margin-top: 200px;
  text-align: center;
  font-size: 50px;
}

tr.judul {
  border: white 1px solid;
}

table.table-dark {
  width: 1110px;
  margin: auto;
  background-color: rgb(240, 224, 221);
  padding: 30px;
  border-radius: 30px;
}

td.uper {
  text-transform: capitalize;
}

h2 {
  color: rgb(155, 35, 71);
  margin: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-top: 200px;
}
